# Program Title: requirements.txt
#
# Programmers:
#   Albonia, Jade Lorenz M.
#   Caspe, Mark Vincent G.
#   Rivera, Rei Djemf M.
#   Velante, Kamilah Kaye M.
#   Villegas, Jedidiah S.
#
# Where the program fits in the general system design:
#   Located in the root directory. This configuration file defines the
#   Python runtime environment required to execute the A-EYE system. It is
#   invoked by the installation commands in the Google Colab notebooks
#
# Date Written: July 2025
# Date Revised: December 2025
#
# Purpose:
#   To enforce software reproducibility. By explicitly listing
#   external dependencies and pinning critical versions, this file ensures
#   that the experimental results are consistent across different computational
#   environments.
#
# Data Structures, Algorithms, and Control:
#   Core Framework:
#     torch & torchvision: The primary Deep Learning framework used for tensor
#       computation and model architecture definition.
#
#   Data Processing:
#     albumentations==1.1.0: Version-locked to 1.1.0 to preserve the specific
#       syntax of the `Cutout` augmentation, which was deprecated in later releases.
#     opencv-python-headless: Selected over the standard `opencv-python` to
#       optimize performance in server-side environments (Google Colab/Linux VM)
#       by removing unnecessary GUI dependencies.
#
#   Analysis & Metrics:
#     thop: (PyTorch OpCounter) Utilized in `calculate_flops.py` to quantify
#       computational complexity (MACs/GFLOPs).
#     scikit-learn: Provides the Stratified K-Fold splitter and metric
#       functions (F1-Score, Precision, Recall).
#     seaborn: Used in `evaluate.py` to render the Confusion Matrix visualizations.

torch
torchvision
scikit-learn
pandas
numpy
opencv-python-headless
albumentations==1.1.0
matplotlib
seaborn
tqdm
thop